/* STILO GLOBAL
-------------------------------------------------- */
/* Espaciado debajo del pie de página y texto del cuerpo más claro */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZAR EL CAROUSEL
-------------------------------------------------- */

/* Carousel base clase */
.carousel {
  margin-bottom: 4rem;
}
/* Una vez colocada la imagen, debemos ocuparnos del pie de foto */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare las alturas debido al posicionamiento del elemento img. */
.carousel-item {
  height: 32rem;
}


/* CONTENIDO MARKETIN
-------------------------------------------------- */

/* Centra el texto en las tres columnas situadas debajo del carrusel. */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Espacio para el Bootstrap <hr> more */
}

/* Simplifica los encabezados de marketing. */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Aumentar el tamaño del contenido del carrusel */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
