/* SISTEMA GLOBAL
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZAR EL CAROUSEL
-------------------------------------------------- */

/* Carousel base de la clase */
.carousel {
  margin-bottom: 4rem;
}
/* Una vez colocada la imagen, debemos ocuparnos del pie de foto. */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare las alturas debido al posicionamiento del elemento img. */
.carousel-item {
  height: 32rem;
}


/* CONTENIDO MARKETING
-------------------------------------------------- */

/* Centra el texto en las tres columnas situadas debajo del carrusel. */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Reports
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Espacio para el Bootstrap <hr> more */
}

/* Simplifica los encabezados de marketing. */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* SENSIBLE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
